/* Fonts */
@font-face {
  src: url("./fonts/Myraid/MyriadPro-Regular.otf");
  font-family: 'MyriadPro-Regular';
}
@font-face {
  src: url("./fonts/AvenirNext/AvenirNextCyr-Regular.woff");
  font-family: 'AvenirNextCyr-Regular';
}
@font-face {
  src: url("./fonts/ProximaNova/ProximaNova-Reg.otf");
  font-family: 'ProximaNova-Reg';
}
@font-face {
  src: url("./fonts/OpenSans/OpenSans-Light.ttf");
  font-family: 'OpenSans-Light';
}
@font-face {
  src: url("./fonts/ProximaNova/ProximaNova-Semibold/ProximaNova-Semibold.woff");
  font-family: 'ProximaNova-Semibold'
}
@font-face {
  src: url("./fonts/Montserrat/Montserrat-Regular.otf");
  font-family: 'Montserrat-Regular'
}


/* Body */
*{
  margin: 0px;
  padding: 0px;
}
body {
  width: 1600px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}


/* Header */
.header {
  background-image: url('./images/background.jpg');
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  .header-top {

  }
  .header-logo {
  }

  /* Navigation */
  .nav-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .nav-items { /* <ul> */
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-weight: 400;

    margin-top: 20px;
    margin-right: 65px;
  }
  .nav-item {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    /* width: 25%; */
  }
  .nav-link {
    color: inherit;
    text-decoration: none;
  }
  .nav-current{
    text-decoration: underline;
  }

  /* Tagline */
  .tagline {
      /* margin-top: 580px;
      margin-left: 115px; */
      color: #ffffff;
      text-transform: uppercase;
      font-family: 'AvenirNextCyr-Regular', sans-serif;
      font-weight: 300;
      position: absolute;
      bottom: 145px;
      left: 92px;
  }
    .tagline-h1 {
      font-size: 40px;
      margin: 0 auto;
    }
  .tagline-h1::after{
    content: '/';
    color: #a2ca28;
  }
    .tagline-h2 {
      margin: 0 auto;
      font-size: 15px;
      position: relative;
      padding-top: 15px;
      padding-left: 180px;
    }
    .tagline-h2::after{
      content: '/';
      color: #fd634e;
    }

/* Main */
.main {
  background: #a2ca28;
  position: relative;
}

  /* Benefits */
  .benefits {
    display: flex;
    position: absolute;
    top: 110px;
    left: 210px;

    list-style: none;
    color: #ffffff;
  }
  .benefit-item {
    width: 280px;
    height: 240px;
  }
  .benefit-img {
    margin-bottom: 20px;
    height: 40px;

  }
  .benefit-title {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .benefit-text {
    font-size: 14px;
    font-family: 'ProximaNova-Reg', sans-serif;
    font-weight: 400;
    line-height: 23.98px;
  }
  .benefit-url {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    font-family: 'ProximaNova-Reg', sans-serif;
    font-weight: 400;
    position: absolute;
    bottom: 0;
  }
  .benefit-url::after{
    content: ' →';
  }

  /* Container */
  .container {
    /* Здесь что-то таки должно быть */
    width: 1180px;
    margin: auto;

  }
  .container-row {
    display:  flex;
  }
  .container-img{
    height: 100%;
    width: 100%;
  }
  .container-block{
    background: #ffffff;
    width: 350px;
    height: 366px;
    padding: 15px;
    position: relative;
  }
    .block-elements{
      position: absolute;
      top: 55px;

      text-align: center;
    }
    .container-h3{
      /* padding-top: 55px; */
      color: #fd634e;
      font-size: 14px;
      text-transform: uppercase;
      /*position: relative;
      padding-top: 55px;
      padding-bottom: 16px;*/
      font-family: 'Montserrat-Regular';
      font-weight: 300;
      padding: 15px;
    }
    .container-h2{
      color: #a2ca28;
      font-size: 35px;
      text-transform: uppercase;
      font-family: 'OpenSans-Light', sans-serif;
      font-weight: 100;
    }
    .container-bulb{
      height: 23px;
      width: 15px;
      position: relative;
      padding-top: 23px;
      padding-bottom: 23px;
    }
    .container-text{
      color: #737b80;
      font-size: 14px;
      position: relative;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 18px;

    }
    .container-url{
      color: #a2ca28;
      font-size: 14px;
      padding-bottom: 100px;
    }

  /* Pseudo-ellement! */
  .img-div{
    display: block; /* ? */
    position: relative;
    text-align: center;

  }
  .img-div::before{
    display: block;
    position: absolute; /* Потому что .img-div "relative" */
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(42,99,117, 0.5);
    content: '';
    opacity: 0;
    transition: all 0.5s;
  }

  .img-div-hover{
    opacity: 0;
    top: 50%;
    margin-top: -24px;
    position: absolute;
    width: 100%;
    font-family: 'OpenSans-Light', sans-serif;
    font-weight: 100;
    transition: all 0.5s;
  }
  .img-div:hover .img-div-hover{
    opacity: 1;
  }
  .img-div:hover::before{
    opacity: 1;
  }

/* Footer */
.footer {
  background: #0d1119;
  height: 154px;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  position: relative;
  padding-top: 70px;
  padding-bottom: 35px;
}
.form {
  display: flex;
}
.input {
  margin-right: 6px;
  font-size: 14px;
  border-radius: 3px;
  padding-left: 20px;
  padding: 10px;
  border: 0;
  width: 194px;
  font-family: 'ProximaNova-Semibold';
  font-weight: 400;
}
.btn {
  width: 174px;
  color: #ffffff;
  background: #a2ca28;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  border: 0px;
  font-family: 'ProximaNova-Semibold';
  font-weight: 400;
}
.btn::after{
  content: ' →';
}


  /* Social Networks */
  .social {
    display: flex;
  }
  .social-ul { /* <ul> */
    display: flex;
    list-style: none;
    justify-content: space-between;

  }
  .social-item{
    margin-left: 20px;
  }
  .social-link {

  }
  .social-img {
    height: 40px; width: 40px;
  }
